<body class="d-flex">
    <main class="form-signin w-100 m-auto">
        <form class="form was-validated" [formGroup]="form">
            <div class="form-group">
                <label for="email" class="form-label">CORREO ELECTRONICO</label>
                <input type="email" class="form-control" id="email" aria-describedby="email" required="" formControlName="email">
                <div class="invalid-feedback">
                    Complete el correo electronico
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="form-label">CONTRASEÑA</label>
                <input type="password" class="form-control" id="password" aria-describedby="password" required="" formControlName="password">
                <div class="invalid-feedback">
                    Complete la contraseña
                </div>
            </div>

            <button class="w-100 btn btn-lg btn-primary" 
                    type="submit" 
                    (click)="onSubmit()">INGRESAR</button>
            <br>
            <br>
            <div class="row align-items-md-stretch">
                <div class="col-6">
                    <button class="w-100 btn btn-lg btn-primary" 
                            (click)="fillForm()">EMPLEADO</button>
                </div>
                <div class="col-6">
                    <button class="w-100 btn btn-lg btn-primary"
                            (click)="fillFormAdmin()">ADMIN</button>
                </div>
            </div>
        </form>
    </main>
</body>

